1- Ler e entender o arquivo CSV sujo fornecido.

In [356]:

import pandas as pd
import numpy as np
import re

#lê arquivo csv
caminho_csv = '../data_row/desafio.csv'
var_dados = pd.read_csv(
    caminho_csv,
    sep=';',
    
)

In [357]:
var_dados.columns
#explora as colunas

Index(['ID', 'Numero Paciente', 'Nome', 'CPF', 'RG', 'Sexo', 'CEP', 'Endereco',
       'Bairro', 'Cidade', 'UF', 'Celular', 'Telefone', 'E-mail',
       'Data de Nascimento', 'Numero do Prontuario', 'Responsavel',
       'CPF Responsavel', 'Data de Nascimento Responsavel', 'Titular do Plano',
       'CPF do Titular do Plano', 'Carteirinha do Plano', 'Nome do plano',
       'Observacao'],
      dtype='object')

In [358]:
var_dados.info()
#explora informações do Tipo de Dado

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              15 non-null     int64
 1   Numero Paciente                 15 non-null     int64
 2   Nome                            14 non-null     object
 3   CPF                             15 non-null     object
 4   RG                              0 non-null      float64
 5   Sexo                            10 non-null     object
 6   CEP                             15 non-null     object
 7   Endereco                        14 non-null     object
 8   Bairro                          13 non-null     object
 9   Cidade                          2 non-null      object
 10  UF                              12 non-null     object
 11  Celular                         15 non-null     object
 12  Telefone                        2 non-null      float64
 13  E-mail                          13 non-null     object
 14  Data de Nascimento              15 non-null     object
 15  Numero do Prontuario            2 non-null      object
 16  Responsavel                     0 non-null      float64
 17  CPF Responsavel                 0 non-null      float64
 18  Data de Nascimento Responsavel  0 non-null      float64
 19  Titular do Plano                0 non-null      float64
 20  CPF do Titular do Plano         0 non-null      float64
 21  Carteirinha do Plano            0 non-null      float64
 22  Nome do plano                   5 non-null      object
 23  Observacao                      1 non-null      object
dtypes: float64(8), int64(2), object(14)
memory usage: 2.9+ KB

2-Aplicar as regras de tratamento necessárias para preparar os dados de acordo com as especificações do banco de dados, use o Python para isso.

In [359]:
dados = pd.DataFrame(var_dados)

dados = dados.astype({'Endereco':'string', 'CEP':'string','Cidade':'string','UF':'string','Nome':'string',})
#Converte dados para STRING

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              15 non-null     int64
 1   Numero Paciente                 15 non-null     int64
 2   Nome                            14 non-null     string
 3   CPF                             15 non-null     object
 4   RG                              0 non-null      float64
 5   Sexo                            10 non-null     object
 6   CEP                             15 non-null     string
 7   Endereco                        14 non-null     string
 8   Bairro                          13 non-null     object
 9   Cidade                          2 non-null      string
 10  UF                              12 non-null     string
 11  Celular                         15 non-null     object
 12  Telefone                        2 non-null      float64
 13  E-mail                          13 non-null     object
 14  Data de Nascimento              15 non-null     object
 15  Numero do Prontuario            2 non-null      object
 16  Responsavel                     0 non-null      float64
 17  CPF Responsavel                 0 non-null      float64
 18  Data de Nascimento Responsavel  0 non-null      float64
 19  Titular do Plano                0 non-null      float64
 20  CPF do Titular do Plano         0 non-null      float64
 21  Carteirinha do Plano            0 non-null      float64
 22  Nome do plano                   5 non-null      object
 23  Observacao                      1 non-null      object
dtypes: float64(8), int64(2), object(9), string(5)
memory usage: 2.9+ KB

In [360]:
dados['Nome'] = dados['Nome'].str.title()
dados
#Converte dados para .title()

,ID,Numero Paciente,Nome,CPF,RG,Sexo,CEP,Endereco,Bairro,Cidade,...,Data de Nascimento,Numero do Prontuario,Responsavel,CPF Responsavel,Data de Nascimento Responsavel,Titular do Plano,CPF do Titular do Plano,Carteirinha do Plano,Nome do plano,Observacao
0,33275135,276,Maria Eduarda Lopes,73689415209,NaN,F,06162-150,Rua Teste 1,123,Bairro 1,...,teste@.com,20-10-1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular
1,30868557,266,Rebeca Aragão,28597306483,NaN,NaN,6162151,Rua Teste 2,Bairro 2,<NA>,...,1968-15-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular,NaN
2,37740942,255,Dante Rios,32548690792,NaN,NaN,06162-152,"Rua Teste 3, 1000",Bairro 3,<NA>,...,1944/12/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular,NaN
3,39442913,204,Antony Da Cruz,6039587423,NaN,M,06162-153,Rua Teste 4,Bairro 4,<NA>,...,1993-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular,NaN
4,37094906,268,Dra. Maria Alice Sá,2946781585,NaN,NaN,06162-154,Rua Teste 5,Bairro 5,<NA>,...,08/03/1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular,NaN
5,41573289,300,João Silva,11111111111,NaN,M,0616-215,Rua Inválida 6,NaN,Cidade Falsa,...,31/02/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Plano Ouro,NaN
6,40000000,301,Fulano,0,NaN,NaN,0,<NA>,NaN,<NA>,...,01/01/1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,42222222,302,<NA>,ABC12345678,NaN,NaN,12345-67,Rua X,456,<NA>,...,sem@nome.com,2023-13-32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,43333333,303,Ana3 Costa,9876543A921,NaN,F,98765000,Rua Y,Bairro Y,<NA>,...,29/02/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,44444444,304,Carlos$Mendes,44444444444,NaN,M,04567-890,Rua Z,Bairro Z,<NA>,...,15/15/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,55555555,305,Paulo Santos,77777777777,NaN,M,99999-999,Rua W,Bairro W,<NA>,...,01/04-1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,66666666,306,Maria,12345678901,NaN,F,1234567,Rua V,Bairro V,<NA>,...,30/02/2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,77777777,307,"José ""Neto""",22222222222,NaN,M,54321-876,Rua U,Bairro U,<NA>,...,1980/05/30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,88888888,308,Dr. Pedro,33333333333,NaN,M,87654-321,Rua T,Bairro T,<NA>,...,12/31/2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,99999999,309,Joana Silva,73689415209,NaN,F,06162-150,Rua Teste 1,Bairro 1,<NA>,...,10/10/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [361]:
def valida_nome(nome):
    if any(char.isdigit() for char in str(nome)):
        return "Dados Inválidos"
    return nome

# Aplica a função na coluna "Nome"
dados['Nome'] = dados['Nome'].apply(valida_nome)
#Tira a opção de incluir numeros no campo Nome

dados

,ID,Numero Paciente,Nome,CPF,RG,Sexo,CEP,Endereco,Bairro,Cidade,...,Data de Nascimento,Numero do Prontuario,Responsavel,CPF Responsavel,Data de Nascimento Responsavel,Titular do Plano,CPF do Titular do Plano,Carteirinha do Plano,Nome do plano,Observacao
0,33275135,276,Maria Eduarda Lopes,73689415209,NaN,F,06162-150,Rua Teste 1,123,Bairro 1,...,teste@.com,20-10-1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular
1,30868557,266,Rebeca Aragão,28597306483,NaN,NaN,6162151,Rua Teste 2,Bairro 2,<NA>,...,1968-15-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular,NaN
2,37740942,255,Dante Rios,32548690792,NaN,NaN,06162-152,"Rua Teste 3, 1000",Bairro 3,<NA>,...,1944/12/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular,NaN
3,39442913,204,Antony Da Cruz,6039587423,NaN,M,06162-153,Rua Teste 4,Bairro 4,<NA>,...,1993-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular,NaN
4,37094906,268,Dra. Maria Alice Sá,2946781585,NaN,NaN,06162-154,Rua Teste 5,Bairro 5,<NA>,...,08/03/1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particular,NaN
5,41573289,300,João Silva,11111111111,NaN,M,0616-215,Rua Inválida 6,NaN,Cidade Falsa,...,31/02/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Plano Ouro,NaN
6,40000000,301,Fulano,0,NaN,NaN,0,<NA>,NaN,<NA>,...,01/01/1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,42222222,302,<NA>,ABC12345678,NaN,NaN,12345-67,Rua X,456,<NA>,...,sem@nome.com,2023-13-32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,43333333,303,Dados Inválidos,9876543A921,NaN,F,98765000,Rua Y,Bairro Y,<NA>,...,29/02/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,44444444,304,Carlos$Mendes,44444444444,NaN,M,04567-890,Rua Z,Bairro Z,<NA>,...,15/15/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,55555555,305,Paulo Santos,77777777777,NaN,M,99999-999,Rua W,Bairro W,<NA>,...,01/04-1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,66666666,306,Maria,12345678901,NaN,F,1234567,Rua V,Bairro V,<NA>,...,30/02/2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,77777777,307,"José ""Neto""",22222222222,NaN,M,54321-876,Rua U,Bairro U,<NA>,...,1980/05/30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,88888888,308,Dr. Pedro,33333333333,NaN,M,87654-321,Rua T,Bairro T,<NA>,...,12/31/2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,99999999,309,Joana Silva,73689415209,NaN,F,06162-150,Rua Teste 1,Bairro 1,<NA>,...,10/10/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [362]:
#Valida entrada de dados númericos.
def valida_valor(valor):
    try:
        float(valor)
        return valor
    except ValueError:
        return "Dados Inválidos"

# Aplica a validação em cada coluna numérica
colunas_numericas = ['ID', 'Numero Paciente', 'RG', 'Numero do Prontuario']
for coluna in colunas_numericas:
    dados[coluna] = dados[coluna].apply(valida_valor)

In [363]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              15 non-null     int64
 1   Numero Paciente                 15 non-null     int64
 2   Nome                            14 non-null     object
 3   CPF                             15 non-null     object
 4   RG                              0 non-null      float64
 5   Sexo                            10 non-null     object
 6   CEP                             15 non-null     string
 7   Endereco                        14 non-null     string
 8   Bairro                          13 non-null     object
 9   Cidade                          2 non-null      string
 10  UF                              12 non-null     string
 11  Celular                         15 non-null     object
 12  Telefone                        2 non-null      float64
 13  E-mail                          13 non-null     object
 14  Data de Nascimento              15 non-null     object
 15  Numero do Prontuario            2 non-null      object
 16  Responsavel                     0 non-null      float64
 17  CPF Responsavel                 0 non-null      float64
 18  Data de Nascimento Responsavel  0 non-null      float64
 19  Titular do Plano                0 non-null      float64
 20  CPF do Titular do Plano         0 non-null      float64
 21  Carteirinha do Plano            0 non-null      float64
 22  Nome do plano                   5 non-null      object
 23  Observacao                      1 non-null      object
dtypes: float64(8), int64(2), object(10), string(4)
memory usage: 2.9+ KB

In [364]:
#Valida a entrada de dados da coluna Nome que precisam ser obrigatórios
dados['Nome'] = dados['Nome'].fillna("Informação obrigatória")

In [365]:


# valida e formata a data para o formato DD/MM/AAAA
def formatar_data(data):
    try:
        # Coverte datas quando possível para o tipo datetime
        data_formatada = pd.to_datetime(data, errors='raise')
        # Retorna a data formatada no formato desejado DD/MM/AAAA
        return data_formatada.strftime('%d/%m/%Y')
    except Exception:
        # Quando não é possível, retorna a mensagem "Dados Inválidos"
        return 'Dados Inválidos'

# Aplicando a função na coluna 'Data de Nascimento'
dados['Data de Nascimento'] = dados['Data de Nascimento'].apply(formatar_data)

# Exibindo o DataFrame com as datas formatadas ou com a mensagem de erro
print(dados['Data de Nascimento'])

0     Dados Inválidos
1     Dados Inválidos
2          06/12/1944
3          08/10/1993
4          03/08/1983
5     Dados Inválidos
6          01/01/1900
7     Dados Inválidos
8     Dados Inválidos
9     Dados Inválidos
10         04/01/1985
11    Dados Inválidos
12         30/05/1980
13         31/12/2010
14         10/10/2025
Name: Data de Nascimento, dtype: object

In [366]:
#Valida formatação e validação do CEP
def valida_cep(cep):
    # Remove o traço ("-")
    cep_limpo = str(cep).replace('-', '')
    
    # Verifica se o valor contém apenas dígitos e tem exatamente 8 caracteres
    if cep_limpo.isdigit() and len(cep_limpo) == 8:
        return cep_limpo
    else:
        return "Dados Inválidos"

# Aplica a função de validação na coluna 'CEP'
dados['CEP'] = dados['CEP'].apply(valida_cep)

print(dados['CEP'])

0            06162150
1     Dados Inválidos
2            06162152
3            06162153
4            06162154
5     Dados Inválidos
6     Dados Inválidos
7     Dados Inválidos
8            98765000
9            04567890
10           99999999
11    Dados Inválidos
12           54321876
13           87654321
14           06162150
Name: CEP, dtype: object

In [367]:
#Substitui todos os (NaN) para informação vazia.
dados = dados.fillna('')

In [368]:
#valida e formata regras de Data de Nascimento.

# Converte as colunas para o formato datetime.
dados['Data de Nascimento'] = pd.to_datetime(dados['Data de Nascimento'], format='%d/%m/%Y', errors='coerce')
dados['Data de Nascimento Responsavel'] = pd.to_datetime(dados['Data de Nascimento Responsavel'], format='%d/%m/%Y', errors='coerce')

# Cria uma máscara para identificar as linhas com inconsistência temporal.
mask_invalida = dados['Data de Nascimento Responsavel'] > dados['Data de Nascimento']

# Converte as datas para string no formato desejado.
dados['Data de Nascimento'] = dados['Data de Nascimento'].dt.strftime('%d/%m/%Y').fillna('Dados Inválidos')
dados['Data de Nascimento Responsavel'] = dados['Data de Nascimento Responsavel'].dt.strftime('%d/%m/%Y').fillna('Dados Inválidos')

# Nas linhas inválidas, substitui os valores das colunas pela mensagem "Dados Inválidos".
dados.loc[mask_invalida, 'Data de Nascimento'] = 'Dados Inválidos'
dados.loc[mask_invalida, 'Data de Nascimento Responsavel'] = 'Dados Inválidos'

# Exibe apenas as colunas de interesse para conferência.
print(dados[['Data de Nascimento', 'Data de Nascimento Responsavel']])

   Data de Nascimento Data de Nascimento Responsavel
0     Dados Inválidos                Dados Inválidos
1     Dados Inválidos                Dados Inválidos
2          06/12/1944                Dados Inválidos
3          08/10/1993                Dados Inválidos
4          03/08/1983                Dados Inválidos
5     Dados Inválidos                Dados Inválidos
6          01/01/1900                Dados Inválidos
7     Dados Inválidos                Dados Inválidos
8     Dados Inválidos                Dados Inválidos
9     Dados Inválidos                Dados Inválidos
10         04/01/1985                Dados Inválidos
11    Dados Inválidos                Dados Inválidos
12         30/05/1980                Dados Inválidos
13         31/12/2010                Dados Inválidos
14         10/10/2025                Dados Inválidos

In [369]:
#Validação e aplicação de regas para Telefone e Celular


def validar_formatar_numero(num):
    # Se o campo estiver vazio, retorna vazio
    if pd.isnull(num) or str(num).strip() == "":
        return ""
    
    # Remove todos os caracteres não numéricos
    num_digits = re.sub(r'\D', '', str(num))
    
    # Se após remover os não dígitos o campo ficar vazio, retorna inválido
    if num_digits == "":
        return "Dados Inválido"
    
    # Verifica se o campo contém somente números
    if not num_digits.isdigit():
        return "Dados Inválido"
    
    # Valida se a quantidade de dígitos está correta (13 dígitos, incluindo o código do país)
    if len(num_digits) != 13:
        return "Dados Inválido"
    
    # Remove os dois primeiros dígitos (código do país)
    numero_sem_cod = num_digits[2:]
    
    # Após remover, o número deve ter 11 dígitos
    if len(numero_sem_cod) != 11:
        return "Dados Inválido"
    
    # O DDD é composto pelos dois primeiros dígitos; verificação extra: 
    # ele deve ser composto de dois dígitos e não pode ser "00"
    ddd = numero_sem_cod[:2]
    if not ddd or len(ddd) != 2 or ddd == "00":
        return "Dados Inválido"
    
    # Aplica a formatação (XX)XXXXX-XXXX
    parte1 = numero_sem_cod[2:7]  # Próximos 5 dígitos
    parte2 = numero_sem_cod[7:]   # Últimos 4 dígitos
    return f"({ddd}){parte1}-{parte2}"


# Aplica a função nas colunas 'Celular' e 'Telefone'
for coluna in ['Celular', 'Telefone']:
    dados[coluna] = dados[coluna].apply(validar_formatar_numero)

In [370]:
# Exibe apenas as colunas 'Celular' e 'Telefone' para verificação
print(dados[['Celular', 'Telefone']])

           Celular        Telefone
0   Dados Inválido  Dados Inválido
1   (84)91738-6244
2   (61)97680-6410
3   (84)96219-2967
4   (11)97094-7932
5   (11)91234-5678
6   Dados Inválido
7   Dados Inválido  Dados Inválido
8   Dados Inválido
9   Dados Inválido
10  Dados Inválido
11  Dados Inválido
12  (51)98765-4321
13  (48)98765-4321
14  (84)93254-6048

In [371]:
#Validar formatação CPF 

def validate_cpf(cpf: str) -> bool:
    # Remove qualquer pontuação e mantém apenas os números
    numbers = [int(digit) for digit in cpf if digit.isdigit()]

    # Verifica se o CPF possui 11 números ou se todos são iguais:
    if len(numbers) != 11 or len(set(numbers)) == 1:
        return False

    # Validação do primeiro dígito verificador:
    sum_of_products = sum(a * b for a, b in zip(numbers[0:9], range(10, 1, -1)))
    expected_digit = (sum_of_products * 10 % 11) % 10
    if numbers[9] != expected_digit:
        return False

    # Validação do segundo dígito verificador:
    sum_of_products = sum(a * b for a, b in zip(numbers[0:10], range(11, 1, -1)))
    expected_digit = (sum_of_products * 10 % 11) % 10
    if numbers[10] != expected_digit:
        return False

    return True

In [372]:

# Aplica a validação do CPF
dados['CPF'] = dados['CPF'].apply(lambda cpf: cpf if validate_cpf(cpf) else 'Dados Inválidos')

# Cria uma máscara para os CPFs que não são 'Dados Inválidos'
mask_valid = dados['CPF'] != 'Dados Inválidos'

# Cria uma máscara para linhas onde o CPF aparece mais de uma vez
mask_duplicated = dados.duplicated(subset=['CPF'], keep=False)

# Remove as linhas onde o CPF é válido e está duplicado
dados = dados[~(mask_valid & mask_duplicated)]

In [373]:
print(dados[['CPF']])

                CPF
1       28597306483
2       32548690792
3   Dados Inválidos
4   Dados Inválidos
5   Dados Inválidos
6   Dados Inválidos
7   Dados Inválidos
8   Dados Inválidos
9   Dados Inválidos
10  Dados Inválidos
11  Dados Inválidos
12  Dados Inválidos
13  Dados Inválidos

In [374]:
#Validar UF 

# Função para validar o UF: deve conter exatamente duas letras (maiúsculas ou minúsculas)
def validate_uf(uf):
    # Se não for string, retorna False
    if not isinstance(uf, str):
        return False
    # Verifica se o UF contém exatamente duas letras e nada mais
    return bool(re.fullmatch(r'[A-Za-z]{2}', uf))

# Aplica a validação na coluna 'UF':
# Se o valor for válido, mantém; caso contrário, substitui por "Dados Inválidos"
dados['UF'] = dados['UF'].apply(lambda uf: uf if validate_uf(uf) else 'Dados Inválidos')

# Exibe as primeiras linhas para conferência
print(dados[['UF']])

                 UF
1                SP
2                SP
3                SP
4                SP
5                XX
6   Dados Inválidos
7   Dados Inválidos
8                ZZ
9                SP
10               RJ
11               MG
12               RS
13               SC

In [375]:
#Validação e-mail 


def validate_email(email):
    # Verifica se o e-mail é do tipo string
    if not isinstance(email, str):
        return False
    # aplica o padrão esperado 
    padrao = r'^[\w\.-]+@servico\.com(\.br)?$'
    return bool(re.fullmatch(padrao, email))


# Se o e-mail for válido, mantém o valor original; caso contrário, substitui por "Dados Inválidos".
dados['E-mail'] = dados['E-mail'].apply(lambda email: email if validate_email(email) else 'Dados Inválidos')


print(dados[['E-mail']])

                    E-mail
1          Dados Inválidos
2   dante.rios@servico.com
3   antonio@servico.com.br
4     maria.sa@servico.com
5          Dados Inválidos
6    fulano@servico.com.br
7          Dados Inválidos
8          Dados Inválidos
9          Dados Inválidos
10       paulo@servico.com
11    maria@servico.com.br
12         Dados Inválidos
13       pedro@servico.com

Criação Tamplates_pacientes

In [376]:
# Criação do arquivo tamplates usando os dados tratados.

# Crie um dicionário para mapear os nomes atuais para os nomes esperados
mapeamento = {
    'Nome': 'name',
    'E-mail': 'email',
    'Celular': 'phone',
    'Data de Nascimento': 'birthdate',
    'CPF': 'cpf',
    'Endereco': 'address_1',
    'CEP': 'zipcode',
    'UF': 'state',
    'Cidade': 'city',
    'Bairro': 'district',
}

# Renomeia as colunas do DataFrame
dados = dados.rename(columns=mapeamento)

colunas_selecionadas = ['name', 'email', 'phone', 'birthdate', 'cpf', 
                     'address_1', 'address_2', 'zipcode', 'state', 
                     'city', 'district', 'contact_name', 'contact_cpf']

dados['address_2'] = ''
dados['contact_name'] = dados['name']
dados['contact_cpf'] = dados['cpf']

dados_selecionados = dados[colunas_selecionadas]

# Por fim, exporta para CSV
dados_selecionados.to_csv('../dado_final/dados_final_pacientes.csv', index=False)